
@{
    Layout = null;
}


@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS -->
    <link rel="stylesheet" href="~/CSS/Login.css">
    <title>Login & Register | Ludiflex</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-header">

            <div class="title-login">Quên mật khẩu</div>
        </div>
        <!-- LOGIN FORM -->
        <form action="#" class="login-form" autocomplete="off">
            <div class="input-box">
                <input type="text" class="input-field" id="log-email" required>
                <label for="log-email" class="label">Email</label>
                <i class='bx bx-envelope icon'></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" id="log-pass" required>
                <label for="log-pass" class="label">Mã OTP</label>
                <i class='bx bx-lock-alt icon'></i>
            </div>

            <div class="input-box">
                <button class="btn-submit" id="SignInBtn">Gửi mã xác nhận <i class='bx bx-log-in'></i></button>
            </div>
            <div class="switch-form">
                <span>Don't have an account? <a href="#" onclick="registerFunction()">Register</a></span>
            </div>
        </form>
        <!-- REGISTER FORM -->
        <form action="#" class="register-form" autocomplete="off">
            <!-- Register form inputs -->
        </form>
    </div>

    <script src="js/script.js"></script>
</body>
</html>




