<link href="~/CSS/LayoutHeader.css" rel="stylesheet" />
<header>
    <div class="nav-bar">
        <div class="nav-left">
            <a href="#" class="login-link">
                <i class="fas fa-user"></i> Đăng ký / Đăng nhập
            </a>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm..." />
            <i class="fas fa-search"></i>
        </div>

        <div class="nav-right">
            <i class="fas fa-bars"></i>
            <span class="brand">
                <i class="fas fa-hotel"></i> LUXURY HOTEL
            </span>
        </div>
    </div>
</header>
