<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Cá Nhân</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/CSS/Info.css" rel="stylesheet" />
 
</head>
<body>
    <div class="card">
        <div class="section-title">——— Thông tin tài khoản ———</div>

        <div class="avatar-container">
            <img src="https://via.placeholder.com/120" alt="Ảnh khách hàng" class="avatar">
            <i class='bx bx-edit-alt edit-avatar'></i>
        </div>

        <div class="info-item">
            <div class="info-label">Tên khách hàng</div>
            <div class="info-content-box">
                <span>Nguyễn Trường Qúy</span>
                <i class='bx bx-pencil'></i>
            </div>
        </div>

        <div class="info-item">
            <div class="info-label">Email</div>
            <div class="info-content-box">
                <span>nguyentruongquy76@gmail.com</span>
                <i class='bx bx-pencil'></i>
            </div>
        </div>

        <div class="info-item">
            <div class="info-label">Số điện thoại</div>
            <div class="info-content-box">
                <span>0825******</span>
                <i class='bx bx-pencil'></i>
            </div>
        </div>

        <div class="info-item">
            <div class="info-label">Mật khẩu</div>
            <div class="info-content-box">
                <span>*****************</span>
                <i class='bx bx-pencil'></i>
            </div>
        </div>
    </div>
</body>
</html>
