
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Luxury Hotel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #2E86C1;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        nav {
            background-color: #21618C;
            text-align: center;
            padding: 10px 0;
        }

            nav a {
                color: white;
                margin: 15px;
                text-decoration: none;
                font-weight: bold;
            }

        .container {
            padding: 30px;
            max-width: 1000px;
            margin: auto;
            background: white;
        }

        .hotel-img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .description {
            font-size: 18px;
            line-height: 1.6;
        }

        footer {
            background-color: #2E86C1;
            color: white;
            text-align: center;
            padding: 15px 0;
            margin-top: 30px;
        }
    </style>
</head>

<div class="product-card">
    <div class="product-image">
        <img src="~/Content/" />
    </div>
    <div class="product-name">Tên </div>
    <div class="product-info">
        <div class="Location"> Địa điểm  </div>
        <div class="Rating">★★★★★</div>
        <div class="Price"> 1.000.000₫</div>
    </div>
</div>




